[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=pwpingen
Exec=sailfish-qml pwpingen
Name=pwpingen

[X-Sailjail]
Permissions=Base
